<!doctype html>
<head>
	<title>WishList App</title>
</head>
<body>
 <div id="add-item">
 	<select name="mydropdown">
 		{% for k in beautiful %}
 			{% for specific in beautiful[k] %}
				<option value="{{ k }} "> {{ specific }} </option>
			{% endfor %}
		{% endfor %}
	</select>
	<select name="mydropdown">
 		{% for k in prices %}
 			{% for specific in prices[k] %}
				<option value="{{ k }} "> {{ specific }} </option>
			{% endfor %}
		{% endfor %}
	</select>
 	<img src="/static/img/productImage" alt="jacket">
<p>hey hey hey</p>
</div>
</body>
</html>

